<component name="libraryTable">
  <library name="springframework.boot.spring.starter.thymeleaf" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot-starter-thymeleaf:3.3.0" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-starter-thymeleaf-3.3.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-starter-3.3.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-3.3.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-6.1.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-6.1.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-6.1.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-6.1.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/micrometer-observation-1.12.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/micrometer-commons-1.12.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-autoconfigure-3.3.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-starter-logging-3.3.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/logback-classic-1.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/logback-core-1.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/log4j-to-slf4j-2.23.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/log4j-api-2.23.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jul-to-slf4j-2.0.13.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jakarta.annotation-api-2.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-6.1.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-6.1.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/snakeyaml-2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/thymeleaf-spring6-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/thymeleaf-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/attoparser-2.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/unbescape-1.1.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/slf4j-api-2.0.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>